<!-- table1.html -->

{% extends "base.html" %}
{% block title %}Home - Flask App{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='more_runs.css') }}">


<div class="card table-card">
    <h1>25s Scored</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>25 Runs</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in table1_data %}
                <tr>
                    <td>{{ entry.name3 }}</td>
                    <td>{{ entry.fifties }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
